
@mixin large-screen {
   @media (min-width: 1200px) {
     @content;
   }
}
 
 @mixin medium-screen {
   @media (max-width: 1024px) {
     @content;
   }
}
 
 @mixin tab-screen {
   @media (max-width: 768px) {
     @content;
   }
}
 
 @mixin mobile-screen {
   @media (max-width: 576px) {
     @content;
   }
}

@mixin circle($w, $h) {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #faf7f2;
  width: $w;
  height: $h;
  z-index: -1;
}