@import './../base/fonts';


.header {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 99999;
   transition: top 0.5s ease-in-out;
   padding-top: 40px;

   @include tab-screen {
       padding-top: 20px;
   }

   @include mobile-screen {
      padding: 20px 0;
   }
}

.nav-up {
   top: -140px;

   @include tab-screen {
      padding-top: -130px;
  }
}

.site-title {

   h2 {
      color: $Dodger-Blue;
      font-size: 31px;
      font-weight: 500;

      @include tab-screen {
         font-size: 25px;
      }

      span {
         color: $Dodger-Blue-Light;
         font-size: 26px;
         text-align: right;

         @include tab-screen {
            font-size: 22px;
         }
      }
   }
}